## .NET / Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
arm64/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vs/
*.rsuser
*.sln.iml
launchSettings.json

# Rider
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# MSIX packaging
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.msix
*.msixbundle
*.msixupload
